body {
    font-family: "Raleway", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: initial;
    transition: all 0.2s ease-in-out;
}
p {
    line-height: 1.6;
}
.section-header {
    position: relative;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 40px;
}
.section-header:after {
    content: '';
    width: 320px;
    height: 7px;
    left: 0;
    bottom: -10px;
    background-color: #25c5a9;
    position: absolute;
}
.container {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 3px;
}

.container:after {
    display: table;
    content: '';
    clear: both;
}

/* Header*/
header {
    line-height: 40px;
    background: #000;
}

.logo {
    float: left;
    color: #fff;
    font-size: 19px;
}

.logo > span, .slider-content__inner h2 > span {
    color: #26bca3;
    font-weight: 600;
}

nav {
    float: right;
}
nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu > li {
    position: relative;
}
.submenu {
    position: absolute;
    top: 100%;
    background: transparent;
    min-width: 160px;
    padding-top: 20px;
    z-index: 1;
    display: none;
    left: -50%;
    margin-left: -25px;
    text-align: center;
}
.submenu > li:first-child {
    position: relative;
}
.submenu > li:first-child::before {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #000;
    position: absolute;
    content: '';
    top: -7px;
    left: 50%;
    margin-left: -5px;
}
.menu > li:hover .submenu{
    display: block;
}

.submenu > li {
    display: block;
    margin-right: 0;
    background: #000;
    padding: 15px;
    line-height: 20px;
    transition: all 0.2s ease-in-out;
}
.submenu > li:hover {
    background: #363636;
}


/* Slider Section */
.slider {
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f7f7f7 50%, #d1d0d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f7f7f7 50%,#d1d0d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfc 0%,#f7f7f7 50%,#d1d0d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d1d0d8',GradientType=0 ); /* IE6-9 */
    padding: 50px 0;
}

.slider-content {
    position: relative;

}
.slider-content:after, .slider-content:before{
    position: absolute;
    top: 50%;
    color: #24ba9f;
    font-size: 70px;
    line-height: 30px;
    cursor: pointer;
}
.slider-content:after {
    content: '>';
    right: 1px;
}
.slider-content:before {
    content: '<';
    left: 1px;
}

.slider-content__inner {
    width: 50%;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    vertical-align: top;
    text-align: center;
}

.slider-content__inner:last-child {
    padding-right: 100px;
}

.slider-content__inner h2 {
    font-size: 35px;
    line-height: 53px;
    margin: 20px 0 10px;
    color: #000;
    text-transform: uppercase;
}


.slider-content__inner p {
    font-size: 14px;
    color: #000;
}

.slider-content__inner a {
    font-size: 17px;
    background-color: #24ba9f;
    border-radius: 5px;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
}

.slider-content__inner a:hover {
    background-color: #6cf8df;
}

/* Section Boxes */
.boxes-section {
    padding: 25px 0 55px;;
}

.boxes__box {
    display: inline-block;
    width: 32%;
    position: relative;
    min-height: 227px;
    vertical-align: top;
    background-size: cover;
    margin-right: 2%;
}

.boxes__box:first-child {
    background-image: url("../images/box1_img.jpg");

}

.boxes__box:nth-child(2) {
    background-image: url("../images/box2_img.jpg");
}

.boxes__box:last-child {
    padding: 21px;
    border: 1px solid #dadada;
    margin-right: 0;
}

.boxes__box > div {
    position: absolute;
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 65px;
    bottom: 15px;
    padding: 16px 16px 0 16px;
}
.boxes__box span {
    font-weight: 600;
    font-size: 15px;
    position: relative;
}
.boxes__box span:after {
    content: '';
    width: 138px;
    height: 7px;
    left: 0;
    bottom: -9px;
    background-color: #25c5a9;
    position: absolute;
}
.boxes__box p {
    font-size: 14px;
    margin-top: 20px;
}

/* Section Pricing */
.pricing-section {
    padding: 35px 0;
    background: #f1f1f1;
}

.pricing-box {
    display: inline-block;
    width: 32%;
    background: #f9f9f9;
    position: relative;
    height: 500px;
    vertical-align: top;
    margin: 40px 2% 0 0;
    text-align: center;
    position: relative;
    border: 1px solid #bdbdbd;
}
.pricing-box:last-child {
    margin-right: 0;
}

.pricing-box:before {
    width: 50px;
    content: '';
    height: 50px;
    border: 1px solid #bdbdbd;
    left: 50%;
    margin-left: -25px;
    box-sizing: border-box;
    top: -29px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.pricing-box:after {
    width: 24px;
    content: '';
    height: 24px;
    left: 50%;
    margin-left: -12px;
    top: -16px;
    position: absolute;
    background: #bdbdbd;
    border-radius: 50%;
}

.pricing-box h4 {
    text-transform: uppercase;
    color: #25c5a9;
    margin: 30px 0;
    font-size: 19px;
}

.pricing-box__circle {
    background: #fff;
    width: 130px;
    height: 130px;
    margin: 0 auto 25px;
    border-radius: 50%;
    padding-top: 19px;
    border: 1px solid #bdbdbd;
}
.pricing-box__circle em {
    color: #bdbdbd;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}
.pricing-box__circle em sup {
    font-size: 14px;
    vertical-align: super;
    font-weight: 500;
}

.pricing-box__circle span {
    color: #bdbdbd;
    font-size: 18px;
    font-weight: 500;
}

.pricing-box p {
    background: #e4e4e4;
    color: #919191;
    font-size: 18px;
    padding: 10px;
}
.pricing-box p:nth-child(even) {
    background: #f1f1f1;
    color: #777777;
}

.pricing-box a {
    font-size: 16px;
    background-color: #24ba9f;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    position: absolute;
    bottom: 13px;
    left: 50%;
    margin-left: -62px;
    transition: all .4s ease-in-out;
}

/* Hover effect on .pricing-box*/
.pricing-box:hover {
    background: #27c7ab;
    border: 1px solid #27c7ab;
}

.pricing-box:hover::before {
    border: 1px solid #27c7ab;
    background: #27c7ab;
}

.pricing-box:hover::after {
    background: #fff;
}

.pricing-box:hover h4 {
    color: #fff;
}

.pricing-box:hover .pricing-box__circle {
    border: 1px solid #fff;
}
.pricing-box:hover .pricing-box__circle em {
    color: #27c7ab;
}
.pricing-box:hover .pricing-box__circle em sup {
    font-size: 14px;
    vertical-align: super;
    font-weight: 500;
}

.pricing-box:hover .pricing-box__circle span {
    color: #bdbdbd;
    font-size: 18px;
    font-weight: 500;
}

.pricing-box:hover p {
    background: #fff;
}

.pricing-box:hover p:nth-child(even) {
    background: #f1f1f1;
    color: #777777;
}

.pricing-box:hover a {
    background-color: #fff;
    color: #27c7ab;
    font-weight: 500;
}

/* Contact section*/
.contact-section {
    padding: 35px 0;
    color: #989898;
}
.contact-form__inputs {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-right: 5%;
}

.contact-section input, .contact-section textarea  {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
    min-height: 60px;
    border: 1px solid #27c7ab;
}

.contact-section input:focus, .contact-section textarea:focus {
    border: 1px solid #27c7ab;
    outline: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(39,199,171,.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(39,199,171,.5);
    box-shadow: 0px 0px 5px 0px rgba(39,199,171,.5);
}
.contact-section textarea {
    resize: none;
    min-height: 200px;
    margin-bottom: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #989898;
    font-size: 21px;
    font-weight: 300;
    font-family: "Raleway", Arial, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #989898;
    font-size: 21px;
    font-weight: 300;
    font-family: "Raleway", Arial, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #989898;
    font-size: 21px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
    color: #989898;
    font-size: 21px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 300;
}

.contact-form__submit {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
.contact-form__submit img {
    margin: 0 auto 35px;
    max-width: 100%;
    display: block;
}
.contact-form__submit input[type=checkbox] {
    display: inline-block;
    width: auto;
    background: #fff;
    height: 40px;
    width: 40px;
    min-height: 0;
    float: left;
    margin: 0 10px 20px 0;
}

/*
.contact-form__submit input[type=checkbox] {
    visibility: hidden;
}
*/

.contact-form__submit label {
    line-height: 20px;
    font-size: 17px;
}

.contact-form__submit input[type=submit] {
    font-size: 21px;
    background-color: #24ba9f;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.contact-form__submit input[type=submit]:hover {
    background-color: #6cf8df;
}


/* Footer */
footer {
    padding: 45px 0;
    color: #989898;
}
.footer-copy {
    float: left;
    line-height: 38px;
}
.footer-social {
    float: right;
    line-height: 38px;
}
.footer-social > span {
    font-size: 21px;
}
.footer-social > span > b {
    font-weight: 600;
}
.footer-social__icons {
    display: inline-block;
    margin-right: 55px;
    vertical-align: middle;
}
.footer-social__icons  li  {
    display: inline-block;
    margin-right: 5px;
}
.footer-social__icons li:last-child  {
    margin-right: 0;
}
.footer-social__icons li a img {
    transition: all 0.2s ease-in-out;
}

.footer-social__icons li a:hover img {
    opacity: 0.75;
}
